Path_J/Content/LevelPrototyping/Interactable/Door/Assets/Meshes/SM_Door.uasset
Path_J/Content/LevelPrototyping/Interactable/Door/Assets/Meshes/SM_DoorFrame_Corner.uasset
Path_J/Content/LevelPrototyping/Interactable/Door/Assets/Meshes/SM_DoorFrame_Edge.uasset
Path_J/Content/LevelPrototyping/Interactable/JumpPad/Assets/Meshes/SM_CircularBand.uasset
Path_J/Content/LevelPrototyping/Interactable/JumpPad/Assets/Meshes/SM_CircularGlow.uasset
Path_J/Content/LevelPrototyping/Interactable/Target/Assets/SM_TargetBaseMesh.uasset
Path_J/Content/LevelPrototyping/Meshes/SM_ChamferCube.uasset
Path_J/Content/LevelPrototyping/Meshes/SM_Cylinder.uasset
Path_J/Content/LevelPrototyping/Meshes/SM_QuarterCylinder.uasset
Path_J/Content/ThirdPerson/Blueprints/BP_ThirdPersonGameMode.uasset
Path_J/Intermediate/CachedAssetRegistry_0.bin
Path_J/Intermediate/CachedAssetRegistryDiscovery.bin
Path_J/Intermediate/ReimportCache/3688439234.bin
Path_J/Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
Path_J/Saved/Autosaves/PackageRestoreData.json
Path_J/Saved/AutoScreenshot.png
Path_J/Saved/Config/CrashReportClient/UECC-Windows-3055E8534E7DE0DA1F71B3B0205A42E5/CrashReportClient.ini
Path_J/Saved/Config/CrashReportClient/UECC-Windows-3350512743A2D129E9C79CA2EBA7BC03/CrashReportClient.ini
Path_J/Saved/Config/CrashReportClient/UECC-Windows-A0C4A93C4249D82E6B319CAFCAA85429/CrashReportClient.ini
Path_J/Saved/Config/CrashReportClient/UECC-Windows-A2CCC2D34F418D1BA6E6A59EE503F103/CrashReportClient.ini
Path_J/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Path_J/Saved/Logs/cef3-backup-2025.09.18-18.46.44.log
Path_J/Saved/Logs/Path_J-backup-2025.08.19-02.07.12.log
Path_J/Saved/Logs/Path_J-backup-2025.08.19-02.07.26.log
Path_J/Saved/Logs/Path_J-backup-2025.08.19-02.09.16.log
Path_J/Saved/Logs/Path_J-backup-2025.08.19-02.09.33.log
Path_J/Saved/Logs/Path_J-backup-2025.08.19-02.28.32.log
Path_J/Saved/Logs/Path_J-backup-2025.08.19-02.51.27.log
Path_J/Saved/Logs/Path_J-backup-2025.08.19-22.20.22.log
Path_J/Saved/Logs/Path_J-backup-2025.08.27-21.14.51.log
Path_J/Saved/Logs/Path_J-backup-2025.08.29-18.49.53.log
Path_J/Saved/Logs/Path_J-backup-2025.09.19-00.39.35.log
Path_J/Saved/Logs/Path_J-backup-2025.09.19-03.13.30.log
Path_J/Saved/Logs/Path_J-backup-2025.09.22-13.06.15.log
Path_J/Saved/Logs/Path_J.log
Path_J/Saved/ShaderDebugInfo/PCD3D_SM6/WorldGridMaterial_5b9d737e1f0f285c/Default/DDCKey-Editor.txt
Path_J/Saved/SourceControl/UncontrolledChangelists.json
Projeto - Path/Intermediate/CachedAssetRegistry_0.bin
Projeto - Path/Intermediate/CachedAssetRegistryDiscovery.bin
Projeto - Path/Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
Projeto - Path/Saved/AutoScreenshot.png
Projeto - Path/Saved/Config/CrashReportClient/UECC-Windows-5DF75ADB4BE55FD19D04D8B7DFB79BBB/CrashReportClient.ini
Projeto - Path/Saved/Config/CrashReportClient/UECC-Windows-739E3ADD40ADF309D8FF4F96D2425B47/CrashReportClient.ini
Projeto - Path/Saved/Config/CrashReportClient/UECC-Windows-9217F51646187EFF7C2C64979819797B/CrashReportClient.ini
Projeto - Path/Saved/Config/CrashReportClient/UECC-Windows-FD05A01641C5AA4A73BB5F97CBDACF73/CrashReportClient.ini
Projeto - Path/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Projeto - Path/Saved/Logs/Projeto_Path-backup-2025.08.27-19.34.43.log
Projeto - Path/Saved/Logs/Projeto_Path-backup-2025.08.27-19.55.14.log
Projeto - Path/Saved/Logs/Projeto_Path.log
Projeto - Path/Saved/ShaderDebugInfo/PCD3D_SM5/WorldGridMaterial_ccfa03e4996f90e8/Default/DDCKey-Editor.txt
